<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.jnksoftware.discountfinderandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/startscreenlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/startscreenlogo"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity
            android:name=".ui.general.Main"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.general.Login" />
        <activity android:name=".ui.general.Register" />
        <activity android:name=".ui.customer.MenuCustomer" />
        <activity android:name=".ui.customer.userPreferences.UserPreferences" />
        <activity android:name=".ui.general.AboutUs" />
        <activity android:name=".ui.general.Settings" />
        <activity android:name=".ui.customer.shops.SellerShops" />
        <activity android:name=".ui.customer.recyclers.DiscountCustomerRecyclerList" />
        <activity android:name=".ui.customer.userPreferences.UserPreferenceList" />
        <activity android:name=".ui.customer.userPreferences.UserUpdatePreferences"/>
        <activity android:name=".ui.customer.shops.UpdateShop"></activity>
        <activity android:name=".ui.customer.shops.ViewStore"></activity>
        <activity android:name=".ui.customer.discount.FullDiscount">
            <intent-filter>
                <action android:name="FULLDISCOUNT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.customer.shops.SellerAddShop" />
        <activity android:name=".ui.customer.shops.SellerAddDiscount"/>

        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.GeoLocation" />
        <activity android:name=".ui.customer.userPreferences.DeletePreference"></activity>
        <activity android:name=".ui.customer.discount.FullContentDiscount"></activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />

        <activity
            android:name=".services.ChooseStoreLocation"
            android:label="@string/title_activity_choose_store_location"></activity>
    </application>

</manifest>