<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.jnksoftware.discountfinderandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.general.Main"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.general.Login" />
        <activity android:name=".ui.general.Register" />
        <activity android:name=".ui.customer.MenuCustomer" />
        <activity android:name=".ui.customer.UserPreferences" />
        <activity android:name=".ui.general.AboutUs" />
        <activity android:name=".ui.general.Settings" />
        <activity android:name=".ui.customer.SellerShops" />
        <activity android:name=".ui.customer.DiscountCustomerRecyclerList" />
        <activity android:name=".ui.customer.FullDiscount">
            <intent-filter>
                <action android:name="FULLDISCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.customer.ViewStore"/>
        <activity android:name=".ui.customer.SellerAddShop" />
        <activity android:name=".ui.customer.SellerAddDiscount"/>

        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.GeoLocation" />


    </application>

</manifest>